/* grid conainer */
.grid-container {
	padding: 20px 15px;
}

/* card container */
.card-container {
	border-radius: 8px !important;
}

/* card content */
.card-content {
	padding: 16px 10px !important;
}

/* list title */
.list-title {
	font-size: 1.1rem !important;
	font-weight: 500 !important;
}

/* card actions container */
.card-actions-container {
	padding: 0 !important;
	flex-wrap: wrap;
}
